.reader {
    overflow: hidden;
}

.pageContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
}


.pageContainer img {
    user-select: none;
    -webkit-user-drag: none;
}

.reader link {
    height: 100%;
}

.navigateButtonLeft {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100vh;
}

.navigateButtonRight {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20%;
    height: 100vh;
}

.disable-select {
    user-select: none;
}